.SpecialEvent__mainDiv {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: no-drop;
}

.SpecialEvent__mainDiv h3 {
    margin: 0;
}

.SpecialEvent__withPointer {
    cursor: pointer;
}

.SpecialEvent__withPointer p {
    margin: 0%;
}

@media(min-width: 768px) {
    .SpecialEvent__mainDiv {
        flex-direction: row;
    }
    .SpecialEvent__mainDiv h3 {
        width: 40%;
        text-align: center;
    }
    .SpecialEvent__withPointer:hover {
        background-color: #a8dadc;
    }
}