.FormInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.FormInput__Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.FormInputElement {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 6px;
}

.FormInputElement:focus {
    outline: none;
    background-color: rgba(204, 204, 204, 0.514);
}

.FormInputElement_Invalid {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid red;
    background-color: rgba(255, 213, 209, 0.555);
    font: inherit;
    padding: 6px 6px;
}