.DailyEvent__pointer {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 3px 5px 5px #eee;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

@media(min-width: 768px) {
    .DailyEvent__pointer {
        flex-direction: row;
    }
    
    .DailyEvent__pointer:hover {
        background-color: #a8dadc;
    }
}