.EventModal__video {
    position: fixed;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.911);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    overflow: auto;
}

.EventModal__videoFrame {
    width: 90%;
    height: 70%;
}

.EventModal__letterFrame {
    width: 90%;
    height: 70%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
}

.EventModal__title {
    height: 20%;
    font-size: 30px;
    margin: 10px auto;
}

.EventModal__polaroid {
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.EventModal__image {
    width: 100%;
    height: 70%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EventModal__image img {
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
}

.EventModal__polaroid .container {
    text-align: center;
    padding: 10px 20px;
}

.EventModal__imageDescription{
    text-align: left;
}

.EventModal__musicIcon {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    animation: EventModal__musicIcon_Animation 2s ease-in-out infinite;
}

@keyframes EventModal__musicIcon_Animation {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-5px) rotate(-25deg);
    }
    50% {
        transform: translateY(0) rotate(0deg);
    }
    75% {
        transform: translateY(5px) rotate(25deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}